.img_gradient{
    min-height: 800px;
}

.container{
    margin: 120px auto;
}

.title-listas{
    margin: 30px auto;
    text-align: center;
    font-size: 3rem;
}

.todo-list{
    margin: 5px auto;
}

.lista-nombre{
    font-size: 2rem;
}
.lista-comentario{
    font-size: 1.2rem;
}

#eliminar-lista{
    background-color: #c70909 !important;
    color: whitesmoke !important;
}

.mostrar-crear-lista {
    position: relative;
    z-index: 1 !important;
    display: block !important;
    max-width: 30%;
    right: 35%;
}

@media only screen and (max-width: 1100px) {
    .mostrar-crear-lista{
        max-width: 50%;
        right: 25%; 
    }
  }

@media only screen and (max-width: 800px) {
    .mostrar-crear-lista{
        max-width: 90%;
        right: 5%;
    }
  }



